@tailwind base;
@tailwind components;
@tailwind utilities;

.myclass{
    position: relative !important;
    inset: 0px auto auto 0px;
    margin:0px 0px 7px 0px !important;

    transform: none !important;
    transition: 1s !important;
}
table{
    width: 100%;
    border: 1px solid gray;
}
table tr th{
    border: 1px solid gray;
    padding: 20px;
}
table tr td{
    border: 1px solid gray;
    padding: 20px;
}